container_commands:
  01_migrate:
    command: "python blog/manage.py migrate --noinput"
    leader_only: true
  02_create_su:
    command: "python blog/manage.py create_superuser"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "blog.settings"
    PYTHONPATH: "./blog"
    RDS_DB_ENGINE: "django.db.backends.postgresql_psycopg2"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
  aws:elasticbeanstalk:container:python:
    WSGIPath: blog/blog/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "www/static/"